name: "Build Image"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    # - uses: cachix/cachix-action@v14
      # with:
        # name: mycache
        # If you chose signing key for write access
        # signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        # If you chose API tokens for write access OR if you have a private cache
        # authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: sudo apt install qemu-user-static binfmt-support
    - run: sudo update-binfmts --enable qemu-aarch64
    - run: sudo apt install gcc-aarch64-linux-gnu
    - run: nix-shell shell.nix --command "nix build .#rpiImage" 
    - run: nix-shell --run "echo OK"
